.AddCatg {
    direction: rtl;
    margin: auto auto;
}

.InsertNewCatg {
    margin: 2px;
    width: 40%;
    padding: 10px 20px;
    border: 1px solid #707070;
    border-radius: 25px;
    font-size: 18px;
    color: black;
}

.Add {
    font-size: 20px;
    border-radius: 25px;
    margin: 2px;
    padding: 8px 30px;
    border: 1px solid #FFB700;
    background-color: #FFF494;
    color: #FFB700;
    cursor: pointer;
}

.Cancel {
    font-size: 20px;
    border-radius: 25px;
    margin: 2px;
    padding: 8px 40px;
    border: 1px solid #FFB700;
    background-color: rgb(255, 255, 255);
    color: #FFB700;
    cursor: pointer;
}

.InsertNewCatg:focus,
.Add:focus,
.Cancel:focus {
    outline: none;
}