.Layout {
    height: 93vh;
    background-color: #fbfaf9;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 90;
    direction: rtl;
}

.NavBar {
    float: right;
    background-color: #d9212c;
    width: 4vw;
    height: 100vh;
    text-align: center;
}

@media(max-width: 425px) {
    .Layout{
        overflow-x: scroll;
        display: block;
    }
    .NavBar{
        display: none;
    }
}